body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.comic {
  position: relative;
  width: 500px;
  list-style: none;

  .-comicPanel {
    position: relative;
    width: 100%;

    img {
      width: 100%;
      height: auto;
    }

    .-speechBubble {
      position: absolute;
      padding: 0;
      margin: 0;
      border: none;

      .-text {
        background: rgba(255, 255, 255, 0.8);
        padding: 0.5em;
        border-radius: 1em;
      }

      .-delete, .-edit {
        position: relative;
        bottom: 0;
        color: #333;
        background: rgba(200, 200, 200, 0.8);
        padding: 0.25em;
        border-radius: 0.25em;
      }
    }
  }
}
