node_modules
typings
!src/server/typings
.vagrant
.idea
*.iml
*.log
src/server/**/*.js
public/app/**/*.js
!public/app/**/freewall.js
!public/app/**/contentHover.js
!public/app/**/bootstrap3-typeahead.js
public/css/**/*.css
!migrations/*.js
*.js.map
