extends layout

block content
    h1= title
    form#fLogin(name="login",method="post",action="/users/login")
        input#inputUserName(type="text", placeholder="user name", name="username")
        input#inputUserPassword(type="text", placeholder="password", name="userpassword")
        button#btnSubmit(type="submit") submit
