extends layout

block content
    h1= title
    form#formAddUser(name="adduser",method="post",action="/adduser")
        input#inputUserName(type="text", placeholder="user name", name="username")
        input#inputUserEmail(type="text", placeholder="email", name="useremail")
        input#inputUserPassword(type="text", placeholder="password", name="userpassword")
        button#btnSubmit(type="submit") submit