extends layout

block content
    h1.
        Contributors
    ul
        each user, i in userlist
            p
                    b #{user.id}
                ul
                    li #{user.username}
                    | &#x9;
                    li #{user.email}
      