extends layout

block content
    h1.
        User List
    ul
        each user, i in users
            p
                    b #{user.username}
                ul
                    li #{user.email}
                    | &#x9;
                    li #{user.password}
      