extends ../layout

block content
    h1= title
    -if(flash.loginMessage)
      .alert.alert-danger #{flash.loginMessage}
    form#fLogin(name="login",method="post",action="/users/login")
        input#inputUserName(type="text", placeholder="user name", name="username", value=userName)
        input#inputUserPassword(type="password", placeholder="password", name="userpassword")
        button#btnSubmit(type="submit") submit