extends ../layout

block content
    h1= title
    -if(message)
      div#note #{message}
    form#formAddUser(name="adduser",method="post",action="/users/adduser")
        input#inputUserName(type="text", placeholder="user name", name="username")
        input#inputUserEmail(type="text", placeholder="email (optional)", name="useremail")
        input#inputUserPassword(type="password", placeholder="password", name="userpassword")
        button#btnSubmit(type="submit") submit