extends ../layout

block content

	h1= 'Comics'

	form#formAddUser(name="searchcomic",method="post",action="/comics/searchcomic")
		input#inputComicName(type="text", placeholder="comic name", name="comicname")
		button#btnSubmit(type="submit") Search

	each comic in comics
		li
			a(href=comic.url)= comic.title
	if (comics.length == 0)
		h3 No Results
