extends ../layout

block content

    div.container
      div.row
        div.col-lg-6.vcenter
          h1= 'Comics'
      
        div.col-lg-6.vcenter
          div.input-group(style="margin-bottom: 7px")
            input#inputComicName.form-control(type="text", placeholder="Search comic strip", name="comicname")
            div.input-group-btn
              button#search-btn.btn.btn-default(type="button") Search
              button.btn.btn-default.dropdown-toggle(type="button",data-toggle="dropdown",aria-haspopup="true",aria-expanded="false")
                |Sort 
                span.caret
              ul#sort.dropdown-menu.dropdown-menu-right
                li(data-name="data-title")
                  a(href="#") Comic Title
                li(data-name="data-created-at")
                  a(href="#") Most Recent
                li(data-name="data-first-author")
                  a(href="#") First Author
                li(data-name="data-num-panels")
                  a(href="#") Most Panels

    div#freewall-p.container
      include ./comics.jade