extends ../layout

block content
  h1 Managing collaborators for: #{comic.title}

  h2 Add a new collaborator!
  form#formAddUser(name="addContributorToComic", method="post")
    input#inputUserName(type="text", placeholder="username", name="username")
    button#btnSubmit(type="submit") submit

  h2 Current collaborators
  ul
    each user in collaborators
      li=user.username
